doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')

body(ng-app='pointsourceApp')
    nav.navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(ui-sref='main') Homepage
    block content
    hr
    footer
        p © 2015 Company, Inc.

    script(type='text/javascript', src='bower_components/angular/angular.js')
    script(type='text/javascript', src='bower_components/angular-resource/angular-resource.js')
    script(type='text/javascript', src='bower_components/angular-ui-router/release/angular-ui-router.js')
    script(type='text/javascript', src='javascripts/app.js')
